.product-list {
  height: 70vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 12px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
}

.thumb {
  width: 100px;
  margin-bottom: 10px;
}
